**Pandas Exercises - With the NY Times Covid data**

Run the cell below to pull get the data from the nytimes github

In [0]:
!git clone https://github.com/nytimes/covid-19-data.git

**1. Import Pandas and Check your Version of Pandas**

**2. Read the *us-counties.csv* data into a new Dataframe**

**3. Inspect the data - Display the first 5 Rows**

**4. Drop the 'fips' Column**

**5. Check dtypes of the data**

**6. Change the 'date' column to Date dtype**

**7. Set the data index to 'date'**

**8. Find how many weeks worth of data we have**

**9. Create a seperate Dataframe representing only California and display the first 5 data entries**

**10. How many counties in California do we have data for?**

**11. How many data entries do we have for each county?**

**12. How many counties in California have experienced over 1000 cases?**

**13. Which county has experienced the highest death toll?**

**14. Slice the Data for that County Seperately into a new Dataframe**

**15. Create and populate new Columns for New Cases per Day and Deaths per day**

**16. What date had the most cases for LA county?**

**17. Inspect the data in the month of April for Los Angeles County**

**18. Find the mean [cases per day] for April**

**19. Plot cases per day for the month of April in Los Angeles county**

**20. Plot Deaths per Day for the month of March**

**Armed with basics in Pandas - Answer your own questions about the data!  Happy exploring**

Don't hesitate to send me suggestions / a message / or make change requests.  There is more than one way to do everything here!